@font-face {
  font-family: "BigShouldersDisplay";
  src: url("./assets/fonts/BigShoulders_Inline-VariableFont_Hght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "BigShouldersDisplay";
}
